/*----------font imports-------------*/
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf') format('truetype');
}

/*-------------element selectors------------*/
body {
    padding: 8px;
    font-family: 'Roboto', Garamond, sans-serif;
    width: fit-content;
    height: 300px;

}

button {
    padding: 3px;
    margin: 2px;
    margin-bottom: 7px;
}

canvas {
    position: relative;
    bottom: 880px;
}

/*---------------classes---------------*/
.btn {
    border: 1px solid gray;
    padding: 2px;
    border-radius: 1px;
    margin: 1px;
}

.active {

}

.invisible-btn {
    visibility: hidden;
    display: none
}

.parameter-input {
    padding: 2px;
    margin-bottom: 10px;
    margin-right: 3px;

    width: 100px;
}

/*--------------id------------------*/

#logo_galaxia{
    position: relative;
    left: 350px;
    top: -110px;
}

#field {
    position: relative;
    top: -1550px;
    display: block;
}


#parameters-config, #saves-explorer, #point-editor ,#z,#b{
    border: 2px solid gray;
    padding: 5px 15px;
    display: block;
    margin-bottom: 10px;
}



#b{
    position: relative;
    left: 1050px;
    top: -704px;
    width: fit-content;
    height: fit-content;
}
#z{

    position: relative;
    left: 700px;
    top: -50px;
    width: fit-content;
    height: fit-content;
}





#parameters-config {
    position: relative;
    left: 700px;
    top: -50px;
    width: fit-content;
    height: fit-content;
}

#bottom_part {
    position: relative;
    bottom: 1450px;
}

#point-editor{
    position: relative;
    width: 500px;

}

#saves-explorer {
    position: relative;
    top: -950px;
    left: 1050px;
    width: fit-content;
}

#path-slider {
    width: 600px;
    position: relative;
    bottom: 1600px;
}

#first_logo{
    position: relative;
    left: 400px;
    top: -110px;
}
